@model PaymentViewModel

@{
    ViewData["Title"] = "Szczegóły płatności";
}

<div class="d-flex justify-content-center mt-5">
    <div class="col-md-8 bg-dark p-5 rounded shadow border border-secondary-subtle">
        <h2 class="mb-4 text-white">Szczegóły płatności</h2>

        <dl class="row text-light">
            <dt class="col-sm-4">Numer rezerwacji</dt>
            <dd class="col-sm-8">@Model.ReservationId</dd>

            <dt class="col-sm-4">Kwota</dt>
            <dd class="col-sm-8">@Model.Amount.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("pl-PL"))</dd>

            @if (Model.PaymentDate.HasValue && Model.PaymentDate.Value > DateTime.MinValue)
            {
                <dt class="col-sm-4">Data płatności</dt>
                <dd class="col-sm-8">@Model.PaymentDate.Value.ToString("g")</dd>
            }

            <dt class="col-sm-4">Status</dt>
            <dd class="col-sm-8">@Model.Status</dd>

            <dt class="col-sm-4">Numer potwierdzenia</dt>
            <dd class="col-sm-8">@Model.PaymentConfirmationNumber</dd>
        </dl>

        @if (Model.Status != CarRentalSystem.DataAccess.Entities.Enums.PaymentStatus.Completed)
        {
            <a asp-action="Payment" asp-route-reservationId="@Model.ReservationId" class="btn btn-dark border border-light w-100 mt-3">Opłać</a>
        }
    </div>
</div>
